body {
  padding: 0;
  margin: 0;
}

.Div_Heading {
  background-color: #333333;
  border-bottom: 2px solid indianred;
  padding-left: 130px;
  padding: 15px 0px 15px 60px;
  margin-bottom: 0px
}

.Div_Image {
  background-color: #dddddd;
  height: 350px;
  padding-top: 150px;
  background-image: url("../img/фон.png");
}


h1 {
  color: indianred;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: inline;
  margin-right: 550px;
}

.Heading_Image {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-bottom: 50px;
  color: silver;
  font-family: Arial, Helvetica, sans-serif;
}

.Link_Community {
  color: indianred;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.After_Pictures {
  background-color: #333333;
  padding-left: 130px;
  padding: 15px 0px 15px 60px;
  margin-bottom: 0px;
  border-top: 2px solid indianred;
  box-shadow: 0 0 10px black;
}

.Link_Forum {
  color: indianred;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

.Text_B_Bottom {
  color: #aaaaaa;
  text-align: center;
  
}